BoardGames/.vs
BoardGames/packages

BoardGames/BoardGames/bin
BoardGames/BoardGames/obj
BoardGames/BoardGames/.editorconfig

GameVote/.vs
GameVote/packages

GameVote/GameVote/bin
GameVote/GameVote/obj
GameVote/GameVote/.editorconfig
