BoardGames/.vs
BoardGames/packages
BoardGames/BoardGames.sln

BoardGames/BoardGames/bin
BoardGames/BoardGames/obj
BoardGames/BoardGames/BoardGames.csproj
BoardGames/BoardGames/BoardGames.csproj.user
BoardGames/BoardGames/.editorconfig

GameVote/.vs
GameVote/packages
GameVote/GameVote.sln

GameVote/GameVote/bin
GameVote/GameVote/obj
GameVote/GameVote/GameVote.csproj
GameVote/GameVote/GameVote.csproj.user
GameVote/GameVote/.editorconfig
